#{{ansible_managed}}

[Unit]
Description=daemon to control living room devices
After=network.target

[Service]
User={{WAF_USER}}
Group={{WAF_GROUP}}

WorkingDirectory={{ WAF_PATH }}
ExecStart=/usr/bin/env .venv/bin/python src/waf.py --logpath="{{WAF_LOGPATH}}/{{WAF_LOGFILE}}" --logLevel="{{WAF_LOGLEVEL}}"
KillMode=Process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
