#{{ansible_managed}}
KERNEL=="hidraw*", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="4444", SYMLINK+="irmp_stm32", MODE="0666", TAG+="systemd", TAG+="uaccess"

###############################################################################################
# Make hid devices accessible from libusb (and libHidApi with libusb backend)
ATTRS{idVendor}=="1209", ATTRS{idProduct}=="4444", SUBSYSTEM=="usb", MODE="660", GROUP="plugdev"
